<html>
  <%- include("header.ejs") %>
  <body>
    <script src="/static/main.js"></script>

    <%-include("chart-1.ejs")%>
    <br />
    <%-include("chart-2.ejs")%>
    <br />
    <%-include("chart-3.ejs")%>
  </body>
  <%- include("footer.ejs") %>
</html>
